//font
$primary-font-family: 'Lato';
$secondary-font-family : 'Roboto';

//Color
$brand-color : #3289ea;
$text-color:#333333;
$bg-color:#ffffff;
$secondary-color:#224466;

//Size
$font-size : 1.8rem;
$primary-font-size:5rem;
$secondary-font-size:3.5rem;